<%= form_with(model: deck_card, local: true) do |form| %>
  <% if deck_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deck_card.errors.count, "error") %> prohibited this deck_card from being saved:</h2>

      <ul>
      <% deck_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
