<body class="homepage">
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-17788063-2', 'auto');
    ga('send', 'pageview');

</script>
<div id="page-wrapper">

  <!-- Nav -->
  <nav id="nav">
    <ul style="min-width: 960px;">
      <li>
        <a href="https://yugioh-list.com/">Home</a>
        <ul>
          <li><a href="https://yugioh-list.com/update_infos/index">更新履歴</a></li>
        </ul>
      </li>
      <li>
        <a href="https://yugioh-list.com/c_lists">カードリスト▼</a>
        <ul>
          <li><a href="https://yugioh-list.com/c_lists">遊戯王カードリスト</a></li>
          <li><a href="https://yugioh-list.com/c_lists/kinsi_seigen_card">禁止・制限カード</a></li>
          <li><a href="https://yugioh-list.com/searches/ctgry_list">遊戯王カテゴリ一覧</a></li>
          <li><a href="https://yugioh-list.com/r_lists">コンプリートレビュー</a></li>
        </ul>
      </li>
      <li><a href="https://yugioh-list.com/searches">検索</a></li>
      <li><a href="https://yugioh-list.com/decks">デッキ▼</a>
        <ul>
          <li><a href="https://yugioh-list.com/decks">遊戯王デッキレシピ</a></li>
          <li><a href="https://yugioh-list.com/decks/index/s:1/theme_ctgry:/deck_nm:/ctgry:/user_id:">マイデッキ</a></li>
          <li><a href="https://yugioh-list.com/decks/index/s:1/theme_ctgry:/ctgry:/usecard:/keyword:/bookmark[0]:1">お気に入りデッキ</a></li>
        </ul>
      </li>
      <li>
        <a href="regist#">クリエイト▼</a>
        <ul>
          <li><a href="regist" >遊戯王デッキメーカー</a></li>
          <li><a href="https://yugioh-list.com/c_makes" >遊戯王オリカメーカー</a></li>
          <li><a href="https://yugioh-list.com/c_makes/orika_list">遊戯王オリカ掲示板</a></li>
          <li><a href="https://yugioh-list.com/c_makes/ctgry_list">遊戯王オリカカテゴリ一覧</a></li>
          <li><a href="https://yugioh-list.com/novels/add" >遊戯王SS投稿</a></li>
          <li><a href="https://yugioh-list.com/novels">遊戯王SS一覧</a></li>
          <li><a href="https://yugioh-list.com/senryus" >遊戯王川柳メーカー</a></li>
          <li><a href="https://yugioh-list.com/senryus/senryu_list" >遊戯王川柳一覧</a></li>
          <li><a href="https://yugioh-list.com/boketes">遊戯王ボケメーカー</a></li>
          <li><a href="https://yugioh-list.com/boketes/boke_list" >遊戯王ボケ一覧</a></li>
          <li><a href="https://yugioh-list.com/rankings" >遊戯王ランキング</a></li>
        </ul>
      </li>
      <li>
        <a href="regist#">交流▼</a>
        <ul>
          <li><a href="https://yugioh-list.com/comments" >一言掲示板</a></li>
          <li><a href="https://yugioh-list.com/k/report/">管理人連絡掲示板</a></li>
          <li><a href="https://yugioh-list.com/k/yugioh/">遊戯王雑談掲示板</a></li>
          <li><a href="https://yugioh-list.com/k/zatudan/" >雑談掲示板</a></li>
          <li><a href="https://yugioh-list.com/events">非公認大会</a></li>
          <li><a href="https://yugioh-list.com/trades">ユーザーズカードショップ</a></li>
          <li><a href="https://yugioh-list.com/trades/detail/">ショップ(掲示板)を確認</a></li>
          <li><a href="https://yugioh-list.com/trades/edit">ショップ(掲示板)を編集</a></li>
          <li><a href="https://yugioh-list.com/trades/edit_card">販売カード管理</a></li>
          <li><a href="https://4coma.com/manga/list?keyword=%E9%81%8A%E6%88%AF%E7%8E%8B" target="_blank">遊戯王４コマ漫画(別窓)</a></li>
          <li><a href="https://yugioh-list.com/links">サイト情報</a></li>
          <li><a href="mailto:master@yugioh-list.com?subject=【お問い合わせ】遊戯王カードリスト・評価・オリカ&amp;body=https://yugioh-list.com/decks/regist">お問い合わせ</a></li>
        </ul>
      </li>
      <li>
        <a href="regist#">マイメニュー ▼</a>
        <ul>
          <li><a href="regist#login_area" >↓ ログイン</a></li>
          <li><a href="https://yugioh-list.com/u_regists/index/%E3%83%A6%E3%83%BC%E3%82%B6%E7%99%BB%E9%8C%B2">ユーザ登録</a></li>
          <li><a href="https://yugioh-list.com/pages/pc">固定幅表示（PC向）に変更</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header id="header">
    <div class="logo container">
      <div style="padding: 0px;">
        <span><a href="https://yugioh-list.com/" id="logo" style="font-size: 20px">遊戯王カードリスト・評価・オリカ</a></span>
        <br>
        <!--  <a href="/" ><img src="/img/common/.jpg" width="600" style="margin-top: 10px;border: 1px solid black"></a><br>  -->
        <br>
        <div style="margin-top:10px;margin-bottom:0px;height:120px;">
          <div class="collect">
            <figure class="relative">
              <a href="https://yugioh-list.com/p_dtls/index/578"><img alt="デッキビルドパック ミスティック・ファイターズカードリスト" title="デッキビルドパック ミスティック・ファイターズ" src="../img/pack/s/578.jpg" style="width:120px;max-width: 120px;" /></a>
              <figcaption class="absolute"><span>2019年8月3日</span></figcaption>
            </figure>
          </div>
          <div class="collect">
            <figure class="relative">
              <a href="https://yugioh-list.com/p_dtls/index/577"><img alt="CHAOS IMPACTカードリスト" title="CHAOS IMPACT" src="../img/pack/s/577.jpg" style="width:120px;max-width: 120px;" /></a>
              <figcaption class="absolute"><span>2019年7月13日</span></figcaption>
            </figure>
          </div>
          <div class="collect">
            <figure class="relative">
              <a href="https://yugioh-list.com/p_dtls/index/575"><img alt="ストラクチャーデッキ－リボルバー－カードリスト" title="ストラクチャーデッキ－リボルバー－" src="../img/pack/s/575.jpg" style="width:120px;max-width: 120px;" /></a>
              <figcaption class="absolute"><span>2019年6月22日</span></figcaption>
            </figure>
          </div>
          <div class="collect">
            <figure class="relative">
              <a href="https://yugioh-list.com/p_dtls/index/574"><img alt="デュエリストパック－レジェンドデュエリスト編5－カードリスト" title="デュエリストパック－レジェンドデュエリスト編5－" src="../img/pack/s/574.jpg" style="width:120px;max-width: 120px;" /></a>
              <figcaption class="absolute"><span>2019年6月8日</span></figcaption>
            </figure>
          </div>
          <div class="collect">
            <figure class="relative">
              <a href="https://yugioh-list.com/p_dtls/index/572"><img alt="COLLECTION PACK－革命の決闘者編－カードリスト" title="COLLECTION PACK－革命の決闘者編－" src="../img/pack/s/572.jpg" style="width:120px;max-width: 120px;" /></a>
              <figcaption class="absolute"><span>2019年5月18日</span></figcaption>
            </figure>
          </div>
          <div class="collect">
            <figure class="relative">
              <a href="https://yugioh-list.com/p_dtls/index/576"><img alt="プロモーションパック2019カードリスト" title="プロモーションパック2019" src="../img/pack/s/576.jpg" style="width:120px;max-width: 120px;" /></a>
              <figcaption class="absolute"><span>2019年5月11日</span></figcaption>
            </figure>
          </div>
        </div>
        <form action="https://yugioh-list.com/c_dtls/direct" name="fh" method="post" id="c_dtlsDirectForm" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST"/></div>		<input type="text" id="pattern" style="width: 300px;display: inline" placeholder="カード・デッキを検索できます" name="data[c_dtls][pattern]" value="" />
          <input type="submit" value="カード検索" src="https://yugioh-list.com/img/button/zika.gif" class="card_search_head" />
          <input type="button" value="デッキ検索"  onclick="window.location='/decks/index/s:1//if:1/keyword:'+$('#pattern').val()+'/';return false;" class="card_search_head" />
          <input type="button" value="Wiki"  onclick="document.fh.action='/c_dtls/directW';document.fh.target='_blank';document.fh.submit();document.fh.action='/c_dtls/direct';document.fh.target='_self';return false;" class="card_search_head" />
        </form>						</div>
    </div>
  </header>

  <div id="main-wrapper">
    <div id="main" class="container">
      <div class="row" style="padding-bottom:0px;">
        <!-- メインコンテンツ １カラム or ２カラム ここから -->
        <!-- 1カラム -->
        <div class="12u" style="padding-top: 0px;">
          <div class="content">
            <br>
            <div class="pankuzu_div">
              <div class="pankuzu_in"><a href="https://yugioh-list.com/">HOME</a>　＞　デッキメーカー</div>
            </div>
            <div style="margin:20px 0px;">
              <a href="regist#login_area"><button style="width:240px;height:40px;font-size:13px;">↓ ログイン・新規登録はコチラ</button></a><br>
              ！ <a href="regist#login_area">ログイン</a>すると、<span style="font-weight: bold;color:mediumvioletred;">デッキ・カード評価・オリカ・川柳・ボケ・SSなど</span>が投稿できるようになります ！<br>
              ！ コメントがつくと<span style="font-weight: bold;color:mediumvioletred;">マイポスト</span>に<span style="font-weight: bold;color:blue;">通知</span>が来ます ！
            </div><h1 class="common">遊戯王デッキメーカー 新規登録</h1>
            <span style="color: red;">※デッキを登録するには<a href="regist#login_area">ログイン</a>が必要です</span><form action="https://yugioh-list.com/decks/regist_dtl" name="fm" method="post">
            <div id="deck_regist_area">
              <div id="deck_regist_left">
                <input type='button'  style="width:150px;"value='デッキ登録' onclick="checkSubmit()" >
                <br class="clear" /><br class="clear" />
                <select name="data[ctgry]" onChange="set_list()" id="ctgry">
                  <option value="">-- カテゴリ --</option>
                  <option value="8">A・O・J（ｱｰﾘｵﾌﾞｼﾞｬｽﾃｨｽ）</option>
                  <option value="1">BF（ブラックフェザー）</option>
                  <option value="127">BK（ﾊﾞｰﾆﾝｸﾞﾅｯｸﾗｰ）</option>
                  <option value="44">C（コクーン）</option>
                  <option value="27">C（チェーン）</option>
                  <option value="50">D-HERO（ﾃﾞｨｰﾋｰﾛｰ）</option>
                  <option value="248">DD（ディーディー）</option>
                  <option value="26">D（ディフォーマー）</option>
                  <option value="142">E-HERO（ｲｰﾋﾞﾙﾋｰﾛｰ）</option>
                  <option value="240">EM(ｴﾝﾀﾒｲｲﾄ)・Em(ｴﾝﾀﾒｲｼﾞ) </option>
                  <option value="34">E・HERO（ｴﾚﾒﾝﾀﾙﾋｰﾛｰ）</option>
                  <option value="162">HERO（ヒーロー）</option>
                  <option value="83">H・C、H-C（ﾋﾛｲｯｸ）</option>
                  <option value="163">LV（レベル・レベルアップモンスター）</option>
                  <option value="69">NO.（ﾅﾝﾊﾞｰｽﾞ）</option>
                  <option value="53">N（ネオスペーシアン）</option>
                  <option value="165">RUM・CNo・CX</option>
                  <option value="146">SD（ｽｰﾊﾟｰﾃﾞｨﾌｪﾝｽ）</option>
                  <option value="46">Sin（シン）</option>
                  <option value="269">SR(スピードロイド )</option>
                  <option value="167">TG（テックジーナス）</option>
                  <option value="10">X-セイバー</option>
                  <option value="168">ZW（ゼアル・ウェポン）</option>
                  <option value="235">★エクシーズモンスター★</option>
                  <option value="236">★シンクロモンスター★</option>
                  <option value="237">★ペンデュラムモンスター★</option>
                  <option value="291">★リンクモンスター★</option>
                  <option value="239">★儀式モンスター★</option>
                  <option value="238">★融合モンスター★</option>
                  <option value="75">おジャマ</option>
                  <option value="265">アクアアクトレス・アクアリウム</option>
                  <option value="29">アマゾネス</option>
                  <option value="272">アモルファージ</option>
                  <option value="31">アルカナフォース</option>
                  <option value="263">アロマ</option>
                  <option value="32">アンティーク・ギア</option>
                  <option value="143">アンブラル</option>
                  <option value="220">アーティファクト</option>
                  <option value="262">イグナイト</option>
                  <option value="23">インフェルニティ</option>
                  <option value="254">インフェルノイド</option>
                  <option value="20">インヴェルズ</option>
                  <option value="326">ウィッチクラフト</option>
                  <option value="224">エクシーズ</option>
                  <option value="33">エレキ</option>
                  <option value="313">エレメントセイバー</option>
                  <option value="328">エンディミオン</option>
                  <option value="74">エヴォル</option>
                  <option value="28">エーリアン</option>
                  <option value="267">オッドアイズ</option>
                  <option value="298">オルターガイスト</option>
                  <option value="268">カオス・ソルジャー</option>
                  <option value="38">カラクリ</option>
                  <option value="36">ガエル</option>
                  <option value="77">ガガガ</option>
                  <option value="37">ガジェット</option>
                  <option value="17">ガスタ</option>
                  <option value="172">ガーディアン</option>
                  <option value="82">ギアギア</option>
                  <option value="122">ギミック・パペット</option>
                  <option value="92">ギャラクシー</option>
                  <option value="244">クリフォート</option>
                  <option value="299">クローラー</option>
                  <option value="43">コアキメイル</option>
                  <option value="312">コード・トーカー</option>
                  <option value="174">ゴゴゴ</option>
                  <option value="255">ゴブリン</option>
                  <option value="154">ゴルゴニック</option>
                  <option value="151">ゴーストリック</option>
                  <option value="157">サイバー</option>
                  <option value="303">サブテラー</option>
                  <option value="331">シムルグ</option>
                  <option value="222">シャドール</option>
                  <option value="73">シンクロン</option>
                  <option value="14">ジェネクス</option>
                  <option value="19">ジェムナイト</option>
                  <option value="71">ジャンク</option>
                  <option value="5">ジュラック</option>
                  <option value="47">スクラップ</option>
                  <option value="179">ズババ</option>
                  <option value="76">セイクリッド</option>
                  <option value="181">セイヴァー</option>
                  <option value="261">セフィラ</option>
                  <option value="68">ゼンマイ</option>
                  <option value="307">ダイナミスト</option>
                  <option value="183">ダストン</option>
                  <option value="123">デュアル</option>
                  <option value="49">デーモン</option>
                  <option value="184">トゥーン</option>
                  <option value="293">トリックスター</option>
                  <option value="121">ドドド</option>
                  <option value="11">ドラグニティ</option>
                  <option value="7">ナチュル</option>
                  <option value="52">ネオス</option>
                  <option value="319">ネフティス</option>
                  <option value="22">ハーピィ</option>
                  <option value="186">バウンサー</option>
                  <option value="310">バスター・ブレイダー・破壊剣(はかいけん)</option>
                  <option value="285">バージェストマ</option>
                  <option value="245">ファーニマル・デストーイ・エッジインプ</option>
                  <option value="188">フィッシュボーグ</option>
                  <option value="156">フォトン</option>
                  <option value="21">フォーチュンレディ</option>
                  <option value="6">フレムベル</option>
                  <option value="260">ブンボーグ</option>
                  <option value="320">プランキッズ</option>
                  <option value="191">ペンギン</option>
                  <option value="147">ホール・落とし穴・蟲惑魔(こわくま)</option>
                  <option value="56">マシンナーズ</option>
                  <option value="85">マドルチェ</option>
                  <option value="152">マリスボラス</option>
                  <option value="271">ムーンライト</option>
                  <option value="300">メタファイズ</option>
                  <option value="282">メタルフォーゼ</option>
                  <option value="120">ライトレイ</option>
                  <option value="2">ライトロード</option>
                  <option value="97">ランク3エクシーズ</option>
                  <option value="96">ランク4エクシーズ</option>
                  <option value="95">ランク5エクシーズ</option>
                  <option value="16">ラヴァル</option>
                  <option value="193">リアクター</option>
                  <option value="194">リゾネーター</option>
                  <option value="18">リチュア</option>
                  <option value="195">レアル・ジェネクス</option>
                  <option value="196">レッドアイズ</option>
                  <option value="57">レプティレス</option>
                  <option value="58">ロイド</option>
                  <option value="12">ワーム</option>
                  <option value="15">ヴァイロン</option>
                  <option value="297">ヴァレット</option>
                  <option value="153">ヴァンパイア</option>
                  <option value="80">ヴェノム</option>
                  <option value="35">ヴェルズ</option>
                  <option value="305">ヴェンデット</option>
                  <option value="54">ヴォルカニック</option>
                  <option value="308">不知火(しらぬい)</option>
                  <option value="48">代行者（だいこうしゃ）</option>
                  <option value="84">先史遺産(ｵｰﾊﾟｰﾂ)</option>
                  <option value="212">光天使(ホーリー・ライトニング)</option>
                  <option value="24">六武衆（ろくぶしゅう）</option>
                  <option value="294">剛鬼(ごうき)</option>
                  <option value="41">剣闘獣（ｸﾞﾗﾃﾞｨｱﾙﾋﾞｰｽﾄ）</option>
                  <option value="279">化合獣(ｶｺﾞｳｼﾞｭｳ)</option>
                  <option value="286">十二獣</option>
                  <option value="266">占術姫(せんじゅつき)</option>
                  <option value="289">召喚獣(しょうかんじゅう)</option>
                  <option value="327">呪眼(じゅがん)</option>
                  <option value="45">地縛神（じばくしん）</option>
                  <option value="280">堕天使(だてんし)</option>
                  <option value="25">墓守（はかもり）</option>
                  <option value="284">壊獣(かいじゅう)</option>
                  <option value="330">天威(てんい)</option>
                  <option value="301">天気(てんき)</option>
                  <option value="247">契約書(けいやくしょ)</option>
                  <option value="249">妖仙獣(ようせんじゅう)</option>
                  <option value="322">守護竜 (しゅごりゅう)</option>
                  <option value="55">宝玉獣（ほうぎょくじゅう）</option>
                  <option value="317">宣告者(デクレアラー)</option>
                  <option value="217">封印(ふういん)されし</option>
                  <option value="39">巨大戦艦（きょだいせんかん）</option>
                  <option value="324">帝（みかど）</option>
                  <option value="246">幻奏(げんそう)</option>
                  <option value="273">幻影騎士団(ﾌｧﾝﾄﾑﾅｲﾂ)</option>
                  <option value="290">幻煌龍(げんおうりゅう)</option>
                  <option value="210">幻獣(げんじゅう)</option>
                  <option value="126">幻獣機(げんじゅうき)</option>
                  <option value="211">幻蝶(げんちょう)の刺客(しきゃく)</option>
                  <option value="250">影霊衣(ネクロス)</option>
                  <option value="275">彼岸(ひがん)</option>
                  <option value="129">征竜(せいりゅう)</option>
                  <option value="79">忍者・忍法(ﾆﾝｼﾞｬ・ﾆﾝﾎﾟｳ)</option>
                  <option value="288">捕食植物(ﾌﾟﾚﾃﾞﾀｰﾌﾟﾗﾝﾂ)</option>
                  <option value="318">方界(ほうかい)</option>
                  <option value="277">旧神・古神・外神</option>
                  <option value="221">星因士・星輝士（テラナイト）</option>
                  <option value="295">星杯(せいはい)・星遺物(せいいぶつ)</option>
                  <option value="296">時械神(ジカイシン)</option>
                  <option value="30">暗黒界（あんこくかい）</option>
                  <option value="155">森羅（しんら）</option>
                  <option value="4">極星（きょくせい）</option>
                  <option value="204">機皇(きこう)</option>
                  <option value="145">武神(ブジン)</option>
                  <option value="278">水晶機巧（ｸﾘｽﾄﾛﾝ）</option>
                  <option value="88">水精鱗(ﾏｰﾒｲﾙ)</option>
                  <option value="13">氷結界（ひょうけっかい）</option>
                  <option value="329">海晶乙女(マリンセス)</option>
                  <option value="202">海皇(かいおう)</option>
                  <option value="100">炎星(ｴﾝｾｲ)</option>
                  <option value="110">炎王(えんおう)</option>
                  <option value="325">無限起動</option>
                  <option value="78">甲虫装機(ｲﾝｾﾞｸﾀｰ)</option>
                  <option value="323">真竜(しんりゅう)</option>
                  <option value="314">空牙団</option>
                  <option value="223">竜星</option>
                  <option value="309">竜魔王(りゅうまおう)</option>
                  <option value="89">紋章獣(ﾓﾝｼｮｳｼﾞｭｳ)</option>
                  <option value="90">素早い(すばやい)</option>
                  <option value="87">聖刻(ｾｲｺｸ)</option>
                  <option value="149">聖剣・聖騎士(ｾｲｹﾝ・ｾｲｷｼ)</option>
                  <option value="287">花札衛（ｶｰﾃﾞｨｱﾝ）</option>
                  <option value="243">超重武者(ちょうじゅうむしゃ)</option>
                  <option value="274">超量(ちょうりょう)</option>
                  <option value="315">閃刀姫(せんとうき)・閃刀(せんとう)</option>
                  <option value="101">陽炎獣(ﾍｲｽﾞﾋﾞｰｽﾄ)</option>
                  <option value="40">雲魔物（ｸﾗｳﾃﾞｨｱﾝ）</option>
                  <option value="51">電池メン</option>
                  <option value="253">霊使い・憑依装着</option>
                  <option value="251">霊獣(れいじゅう)</option>
                  <option value="91">霊神(ﾚｲｼﾝ)</option>
                  <option value="3">霞の谷（ミストバレー）</option>
                  <option value="197">青眼(ブルーアイズ）</option>
                  <option value="81">魔人(ﾏｼﾞﾝ)</option>
                  <option value="321">魔妖(まやかし)</option>
                  <option value="86">魔導書(まどうしょ)</option>
                  <option value="311">魔導獣(マジックビースト)</option>
                  <option value="302">魔弾(まだん)</option>
                  <option value="281">魔界劇団・魔界台本</option>
                  <option value="316">魔神儀(デビリチャル)</option>
                  <option value="264">魔装戦士・イーサルウェポン</option>
                  <option value="9">魔轟神（まごうしん）</option>
                  <option value="42">黒蠍（くろさそり）</option>
                  <option value="158">／(スラッシュ)バスター</option>
                  <option value="306">Ｆ.Ａ.(ﾌｫｰﾐｭﾗｰｱｽﾘｰﾄ)</option>
                  <option value="283">Ｋｏｚｍｏ</option>
                  <option value="270">ＰＳＹ(サイ)フレーム </option>
                  <option value="256">ＲＲ（ﾚｲﾄﾞ・ﾗﾌﾟﾀｰｽﾞ）</option>
                  <option value="304">ＳＰＹＲＡＬ(ｽﾊﾟｲﾗﾙ)</option>
                  <option value="276">Ｕ.Ａ.(ｳﾙﾄﾗｱｽﾘｰﾄ)</option>
                </select><select name="data[deck]" onChange="set_list()" id="deck">
                <option value="">-- 種類 --</option>
                <option value="1">モンスター</option>
                <option value="2">魔法</option>
                <option value="3">罠</option>
                <option value="4">エクストラ</option>
              </select><select name="data[attribute_id]" onChange="set_list()" id="attribute_id">
                <option value="">-- 属性 --</option>
                <option value="1">闇</option>
                <option value="2">光</option>
                <option value="3">地</option>
                <option value="4">水</option>
                <option value="5">炎</option>
                <option value="6">風</option>
                <option value="7">神</option>
              </select><select name="data[level]" onChange="set_list()" id="level">
                <option value="">-- レベル --</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select><select name="data[type]" onChange="set_list()" id="type">
                <option value="">-- 種族 --</option>
                <option value="01">悪魔族</option>
                <option value="02">アンデット族</option>
                <option value="03">雷族</option>
                <option value="04">海竜族</option>
                <option value="05">岩石族</option>
                <option value="06">機械族</option>
                <option value="07">恐竜族</option>
                <option value="08">獣族</option>
                <option value="09">幻神獣族</option>
                <option value="10">昆虫族</option>
                <option value="11">サイキック族</option>
                <option value="12">魚族</option>
                <option value="13">植物族</option>
                <option value="14">獣戦士族</option>
                <option value="15">戦士族</option>
                <option value="16">天使族</option>
                <option value="17">鳥獣族</option>
                <option value="18">ドラゴン族</option>
                <option value="19">爬虫類族</option>
                <option value="20">炎族</option>
                <option value="21">魔法使い族</option>
                <option value="22">水族</option>
                <option value="23">創造神族</option>
                <option value="24">幻竜族</option>
                <option value="25">サイバース族</option>
              </select><select name="data[limit]" onChange="set_list()" id="limit">
                <option value="">-- 制限 --</option>
                <option value="3">無制限</option>
                <option value="2">準制限</option>
                <option value="1">制限</option>
              </select>		<br /><br />
                <input type="text" id="mozi" style="ime-mode: active;" placeholder="カード名称"><br />
                <input type="text" name="dummy" style="display:none;">
                <br />
                <div id="card_list"  align="center"  style="text-align: left;width:100%;font-size:0;" class="green">
                  <p style="font-size:15px;padding:10px;">
                    ＜＜最大50件表示されます＞＞<br /><br />
                    画面表示時、読み込みに時間がかかります。読み込み完了までお待ち下さい。<br />
                    時々、カテゴリの検索にゴミが入っていますが、メンテがしきれないので無視して下さい。
                  </p>
                </div>
              </div>


              <div id="deck_regist_right">
                <div class="select_area_pc">
                  <span onclick="select_main();" class="main_edit now_select">メインデッキ編集</span>　
                  <span onclick="select_side();" class="side_edit">サイドデッキ編集</span>
                </div>
                <div class="kouka_popup">
                  <div class="kouka_search">
                    作成中のデッキ
                    <span id="tojiru" onclick="$('#deck_regist_right').hide();" class="e_close"> 閉 </span>
                  </div>
                  <div class="kouka_dl">
                    <div style="text-align:right;font-size:150%;margin-top:10px;"><b class='blue' id="deck_total">デッキ／0枚　エクストラ／0枚</b></div>
                    <div style="text-align:right;"></div>
                    <div class="main_deck_area">
                      <div class="title"><div class="div_left">モンスター</div><div class="div_right" id="deck_num_1">0枚</div></div>
                      <div id ="deck_1">
                        <div id="deck_first_1" style="background-color:whitesmoke;height:50px;" class="deck_right_ctgry"></div>
                      </div>
                      <div class="title"><div class="div_left">魔法</div><div class="div_right" id="deck_num_2">0枚</div></div>
                      <div id ="deck_2">
                        <div id="deck_first_2" style="background-color:whitesmoke;height:50px;" class="deck_right_ctgry"></div>
                      </div>
                      <div class="title"><div class="div_left">罠</div><div class="div_right" id="deck_num_3">0枚</div></div>
                      <div id ="deck_3">
                        <div id="deck_first_3" style="background-color:whitesmoke;height:50px;" class="deck_right_ctgry"></div>
                      </div>
                      <div class="title"><div class="div_left">エクストラ</div><div class="div_right" id="deck_num_4">0枚</div></div>
                      <div id ="deck_4">
                        <div id="deck_first_4" style="background-color:whitesmoke;height:50px; border-width:0px 1px 1px 1px;" class="deck_right_ctgry"></div>
                      </div>
                      <div style="text-align:right;font-size:150%;margin-top:10px;"><b class='blue' id="deck_total_side">サイドデッキ／0枚</b></div>
                      <div style="text-align:right;"></div>
                      <div class="title"><div class="div_left">モンスター・魔法・罠</div><div class="div_right" id="deck_num_1">0枚</div></div>
                      <div id ="deck_5" style="background-color:whitesmoke;height:50px;"></div>
                      <div class="title">※ ブラウザバックを行うと編集内容は破棄されます。</div>
                    </div>
                  </div>
                  <div class="select_area_sp">
                    <span onclick="select_main();$('#deck_regist_right').hide();" class="main_edit now_select">メイン編集</span>　
                    <span onclick="select_side();$('#deck_regist_right').hide();" class="side_edit">サイド編集</span>
                  </div>
                </div>
              </div>
            </div>
            <div id="deck_regist_fotter" onclick="$('#deck_regist_right').show();$('.kouka_popup').show();$('.select_area_sp').show();"><img src="../img/common/memo_icon3.png" alt="メモアイコン" height="14"> 作成中のデッキレシピ</div>
            <br>
            <div class="div_responsive_ad">
              スポンサーリンク<br>
              <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- 遊戯王 記事下 レスポンシブ -->
              <ins class="adsbygoogle"
                   style="display:block"
                   data-ad-client="ca-pub-1755059519334062"
                   data-ad-slot="8137586809"
                   data-ad-format="rectangle"
                   data-full-width-responsive="true"></ins>
              <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>	</div>
        </div>
        <!-- 1カラム -->						<!-- メインコンテンツ １カラム or ２カラム ここまで -->
      </div>
    </div>
  </div>
  <!-- /Main -->

  <!-- Footer -->
  <footer id="footer" class="container" style="padding-top: 10px;text-align:center;">
    <h2 class="common" id="login_area" name="login_area">ログイン （<a href="https://yugioh-list.com/u_regists/index/%E3%83%A6%E3%83%BC%E3%82%B6%E7%99%BB%E9%8C%B2">ユーザ登録</a>）</h2>
    <div style="text-align: center">
      <form action="https://yugioh-list.com/logins/login_post" name="ff" id="loginLoginPostForm" method="post" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST"/></div>      <input name="data[Login][id]" maxlength="20" size="20" style="ime-mode: inactive;display: inline;" placeholder="ID" type="text" id="LoginId"/>      <input name="data[Login][pass]" maxlength="20" size="20" placeholder="PASS" style="display: inline;" type="password" id="LoginPass"/>      <br />
        <div class="input select"><input type="hidden" name="data[Login][check]" value="" id="LoginCheck"/>

          <div class="checkbox"><input type="checkbox" name="data[Login][check][]" value="1" id="LoginCheck1" /><label for="LoginCheck1">cokkieに記憶</label></div>
        </div>      <input  style="max-width: 200px;" onclick="my_login();return false;" type="submit" value="ログイン"/>            </form></div>
    <br class="clear">																		<p style="margin:0px;">
    <a href="https://yugioh-list.com/pages/site_search">[!] サイト内検索</a><br>　
    <a href="https://yugioh-list.com/pages/display">[表示切替]</a>　
    ■ スマホ　<a href="https://yugioh-list.com/pages/pc">□ PC</a>
  </p>
  </footer>
  <!-- Scripts -->
  <script src="../design/js/jquery.min.js"></script>
  <script src="../design/js/jquery.dropotron.min.js"></script>
  <script src="../design/js/skel.min.js"></script>
  <script src="../design/js/skel-viewport.min.js"></script>
  <script src="../design/js/util.js"></script>
  <!--[if lte IE 8]><script src="/design/js/ie/respond.min.js"></script><![endif]-->
  <script src="../design/js/main.js"></script>
  <script src="../js/jquery.cookie.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js" type="text/javascript"></script>
  <SCRIPT src="../js/deck/ecl.js"></SCRIPT>
  <SCRIPT src="../js/deck/cardDataNo.js"></SCRIPT>
  <SCRIPT src="../js/deck/cardDataId.js"></SCRIPT>
  <SCRIPT src="../js/deck/cardIds.js"></SCRIPT>
  <SCRIPT src="../js/deck/cardDataCtgry.js"></SCRIPT>
  <style>
    #deck_regist_area {
      width:100%;
      float:left;
      min-height:500px;
    }
    #deck_regist_left {
      width:50%;
      background-color:white;
      float:left;
      padding-right:15px;
    }
    #deck_regist_right {
      width:50%;
      background-color:white;
      float:left;
    }
    #deck_regist_fotter {
      border-top:2px solid #2d4b4d;
      outline: solid 5px white;
      display:none;
      width:100%;
      background-color: #5f9ea0;
      color: #fff;
      text-align: center;
      padding: 10px 0;
      position: fixed;
      bottom: 0; /*下に固定*/
      left:0;
      cursor:pointer;
    }

    #tojiru {
      display:none;
    }


    div.select_area_pc {
      text-align:center;
      padding:15px;
      font-size:15px;
      margin-bottom:10px;
    }
    div.select_area_pc .main_edit {
      border:1px solid black;
      padding:10px;
      cursor:pointer;
    }
    div.select_area_pc .side_edit {
      border:1px solid black;
      padding:10px;
      cursor:pointer;
    }

    div.select_area_pc span.now_select, div.select_area_sp span.now_select {
      background-color:lightpink;
    }

    div.select_area_sp {
      border-top:2px solid #2d4b4d;
      display:none;
      width:100%;
      background-color: #5f9ea0;
      color: #fff;
      text-align: center;
      padding: 10px 0;
      position: fixed;
      bottom: 0; /*下に固定*/
      left:0;
      cursor:pointer;
    }
    div.select_area_sp .main_edit {
      color:black;
      border:1px solid black;
      padding:10px;
      cursor:pointer;
      background-color: white;
    }
    div.select_area_sp .side_edit {
      color:black;
      border:1px solid black;
      padding:10px;
      cursor:pointer;
      background-color: white;
    }

    @media screen and (max-width: 767px) {
      #deck_regist_area {
        float: none;
        width: 100%;
        margin-right: 0px;
      }
      #deck_regist_left {
        float: none;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 10px;
        padding-right:0px;
      }
      #deck_regist_right {
        float: none;
        width: 100%;
        margin-bottom: 10px;
        display:none;
      }
      #deck_regist_fotter {
        display:block;
        z-index : 30;
      }
      .kouka_popup {
        position:fixed;
        width:100%;
      }
      #tojiru {
        display:block;
      }
      .pc_only {
        display:none;
      }
      div.div_left {
        width: 87%;
      }
      div.div_right {
        width: 13%;
      }
    }




    .kouka_popup {
      border:5px solid black;
      border-radius:5px;
      width:100%;
      background-color:white;
      height:100%;
      /*     display:none; */
      left:25%;
      top:20%;
      box-shadow: 0 0 20px white;
    }
    .kouka_popup div.kouka_search {
      width:100%;
      height:30px;
      border-bottom:3px solid black;
      background-color:black;
      padding-left:10px;
      color:white;
    }
    .kouka_popup div.kouka_search:hover{
    }
    .kouka_popup div.kouka_search span.e_close {
      float:right;
      display:inline-block;
      width:50px;
      text-align:right;
      background-color:gray;
      border-radius:10px;
      text-align:center;
    }
    .kouka_popup div.kouka_search span.e_hanei {
      display:inline-block;
      width:42px;
      text-align:right;
      color:black;
      background-color:linen;
      border-radius:10px;
      border:1px solid black;
      text-align:center;
    }
    .kouka_popup div.kouka_search span.e_clear {
      display:inline-block;
      width:52px;
      text-align:right;
      color:black;
      background-color:linen;
      border-radius:10px;
      border:1px solid black;
      text-align:center;
    }
    .kouka_popup div.kouka_search span:hover {
      cursor:pointer;
      color:black;
      background-color:snow;
    }
    .kouka_popup div.kouka_dl {
      overflow: scroll;
      width:100%;
      height:100%;
      background-color:#fefeee;
    }

    .kouka_popup div.kouka_dl span {
      width:100%;
      background-color:whitesmoke;
      display:inline-block;
      padding:3px;
    }


    b.red {
      color: red;
    }
    b.blue {
      color: blue;
    }
    input#mozi {
      line-height: 30px; /* 文字の高さ */
      margin: 0px; /* 余白を消す */
      background-color: #FFFACD; /* 背景 */
      border: 1px solid #999999; /* 罫線 */
      padding-top: 0px; /* 余白 */
      padding-right: 5px; /* 余白 */
      padding-bottom: 0px; /* 余白 */
      padding-left: 5px; /* 余白 */
      height: 30px; /* 高さ */
      width: 290px; /* 幅 */
    }
    div.green{
      padding:10px 10px 10px 10px;
      border-style : dotted;
      border-width : 2px;
    }
    h3 {
      border-left:20px solid #669999;
      border-right:20px solid #669999;
      padding:3px 0 3px 10px;
      margin-left:13;
      margin-right:13;
      background-color:#ededed;
    }
    .tmp_card {
      background-color: ghostwhite;
      display:inline-block;
      margin: 0px;
      padding:0px;
      width:100%;
      font-size:12px;
    }
    .tmp_card:HOVER {
      background-color: lightpink;
    }
    .mieru {
      font-size:12px;
    }

  </style>
  <script type="text/javascript">
      <!--
      alert("デッキ登録にはログインが必要です。");
      // メインデッキフラグ
      var main_flag = 1;

      // デッキのカードIDを格納する。
      var deckList = new Array();

      // サイドデッキIDを格納
      var sideDeckList = new Array();


      // 最後に更新されたID
      var lastUpdateId = 0;
      var mache = "";
      var mozi = "";
      // 置換したカードリスト
      var c_txt = "";
      var attributeList = {
          1:'闇',2:'光',3:'地',4:'水',5:'炎',6:'風',7:'神'};
      // 種類リスト
      var kindList = {
          100:'モンスターカード',101:'通常モンスター',102:'効果モンスター',103:'融合モンスター',104:'儀式モンスター',105:'シンクロモンスター',106:'エクシーズモンスター',107:'スピリットモンスター',108:'ユニオンモンスター',109:'デュアルモンスター',110:'チューナーモンスター',111:'トゥーンモンスター',112:'ペンデュラムモンスター',113:'リンクモンスター',114:'リバースモンスター',
          200:'魔法',201:'通常',202:'永続',203:'装備',204:'速攻',205:'ﾌｨｰﾙﾄﾞ',206:'儀式',300:'罠',301:'通常',302:'永続',303:'ｶｳﾝﾀｰ'};

      // var kindList = {
      //	100:'モンスターカード',101:'通常モンスター',102:'効果モンスター',103:'融合モンスター',104:'儀式モンスター',105:'シンクロモンスター',106:'エクシーズモンスター',107:'スピリットモンスター',108:'ユニオンモンスター',109:'デュアルモンスター',110:'チューナーモンスター',111:'トゥーンモンスター',112:'ペンデュラムモンスター',113:'リンクモンスター',114:'リバースモンスター',200:'魔法',201:'通常魔法',202:'永続魔法',203:'装備魔法',204:'速攻魔法',205:'フィールド魔法',206:'儀式魔法',300:'罠',301:'通常罠',302:'永続罠',303:'カウンター罠'// };
      // モンスター
      var deck_num_1 = 0;
      // 魔法
      var deck_num_2 = 0;
      // 罠
      var deck_num_3 = 0;
      // エクストラ
      var deck_num_4 = 0;
      // サイドデッキ
      var deck_num_5 = 0;

      function addCardNum(id) {
          if (main_flag == 1) {
              if ($("#card_"+ id + "_num").val() == null || $("#card_"+ id + "_num").val() <= 2) {
                  $("#tmp_card_" + id).html($("#tmp_card_" + id).html() + "★");
              }
          } else {
              if ($("#card_side_"+ id + "_num").val() == null || $("#card_side_"+ id + "_num").val() <= 2) {
                  $("#tmp_card_" + id).html($("#tmp_card_" + id).html() + "□");
              }
          }
      }

      function select_main() {
          main_flag = 1;
          $(".side_edit").removeClass("now_select");
          $(".main_edit").addClass("now_select");
      }

      function select_side() {
          main_flag = 0;
          $(".side_edit").addClass("now_select");
          $(".main_edit").removeClass("now_select");
      }


      // 時限で読み込むタイマーをセット
      window.onload = function() {
          // document.fm.mozi.focus();
          setTimeout('show_list()', 500);
      };

      // 入力から表示する
      function show_list() {

          // 文字が空、または変化していないなら終了
          if (mozi == $('#mozi').val() || "" == $('#mozi').val()) {
              setTimeout('show_list()', 500);
              return false;
          }
          mozi = $('#mozi').val();

          // 一周目のみ
          if (c_txt == "") {
              c_txt = list.join('|');
          }

          var re = new RegExp("[^|]*"+mozi+"[^|]*", "gi");
          mache = c_txt.match(re);
          // カード名をセット
          set_list();
          setTimeout('show_list()', 500);
      }

      // カード名セットメソッド
      function set_list() {

          var textArray = new Array(6);
          textArray[1] = "";
          textArray[2] = "";
          textArray[3] = "";
          textArray[4] = "";
          textArray[5] = "";

          var dispCnt = 0;			// 表示用カウント
          var dispMax = 50;			// 表示最大数
          // 制限が指定されている場合最大表示件数を伸ばす
          if ($('#limit').val() != '') {
              dispMax = 300;
          }

          // カテゴリが指定されている場合・制限が指定されている場合
          if ($('#ctgry').val() != '' || $('#ctgry').val() == 1 || $('#ctgry').val() == 2) {
              dispMax = 999;
          }
          // 文字が入力されている場合
          if ($('#mozi').val() != '') {
              // 1件以上マッチしたとき
              if (mache == "" || mache == null) {
                  text = '<b class="mieru">1件もありませんでした。</b>';
              }
              else {
                  // カードIDを取得する
                  var reNo = new RegExp("[0-9]+＋", "gi");

                  // 最大50件まで数だけループ
                  for (var i = 0;i < mache.length && dispCnt < dispMax;i++) {
                      no = mache[i].match(reNo);
                      tmpMache = mache[i].replace(no, '');
                      no[0] = no[0].replace('＋', '');

                      // IDの中身をチェック
                      if (!checkCard(no[0])) {
                          continue;
                      }
                      plusTxt = "　<a class='tmp_card' id='tmp_card_"+ no[0] +"' href='#' onclick='addCardNum(" + no[0] + ");addCard(" + no[0] + ");return false;'>" + tmpMache.replace(mozi, "<b class='red'>" + mozi + "</b>") + "</a>";
                      var deckId = cardIdList[no[0]]['D'];
                      textArray[deckId] = textArray[deckId] + plusTxt;
                      dispCnt++;
                  }
              }
          } else {
              // カードリスト走破
              for (var i = 0;i < cardIds.length && dispCnt < dispMax;i++) {
                  // 条件に当てはまる場合
                  if (checkCard(cardIds[i])) {
                      plusTxt = "　<a class='tmp_card' id='tmp_card_"+ cardIds[i] +"' href='#' onclick='addCardNum(" + cardIds[i] + ");addCard(" + cardIds[i] + ");return false;'>" + cardIdList[cardIds[i]]['N'] + "</a><br />";
                      textArray[cardIdList[cardIds[i]]['D']] = textArray[cardIdList[cardIds[i]]['D']] + plusTxt;
                      dispCnt++;
                  }
              }
          }
          if (textArray[1].length != '') {
              textArray[1] = '<b class="mieru">【モンスター】</b><br />' + textArray[1];
          }
          if (textArray[2].length != '') {
              textArray[2] = '<b class="mieru">【魔法】</b><br />' + textArray[2];
          }
          if (textArray[3].length != '') {
              textArray[3] = '<b class="mieru">【罠】</b><br />' + textArray[3];
          }
          if (textArray[4].length != '') {
              textArray[4] = '<b class="mieru">【エクストラ】</b><br />' + textArray[4];
          }
          if (textArray[5].length != '') {
              textArray[5] = '<b class="mieru">【サイドデッキ】</b><br />' + textArray[5];
          }
          // 1件以上マッチしたとき
          if ((textArray[1] + textArray[2] + textArray[3] + textArray[4]).length == '') {
              $('#card_list').html('<b class="mieru">1件もありませんでした。</b>');
          } else {
              $('#card_list').html(textArray[1] + textArray[2] + textArray[3] + textArray[4]);
          }
      }

      // 指定のカードIDが現在の件削除条件を満たすかをチェック
      // return true:正しい false:間違い
      function checkCard(cardId) {
          // レベルが指定されて違う場合
          if ($('#level').val() != '' && cardIdList[cardId]['L'] != $('#level').val()) {
              return false;
          }
          // 属性が指定されて違う場合
          if ($('#attribute_id').val() != '' && cardIdList[cardId]['A'] != $('#attribute_id').val()) {
              return false;
          }
          // 種族が指定されて違う場合
          if ($('#type').val() != '' && cardIdList[cardId]['T'] != $('#type').val()) {
              return false;
          }
          // 制限が指定されている場合
          if ($('#limit').val() != '' && cardIdList[cardId]['LN'] != $('#limit').val()) {
              return false;
          }
          // デッキが指定されている場合
          if ($('#deck').val() != '' && cardIdList[cardId]['D'] != $('#deck').val()) {
              return false;
          }
          // カテゴリが指定されている場合
          if ($('#ctgry').val() != '') {
              var flg = false;
              // カテゴリでループする
              for (var p = 0;p < cardDataCtgry[$('#ctgry').val()].length;p++) {
                  // カードがカテゴリに存在した場合
                  if (cardId == cardDataCtgry[$('#ctgry').val()][p]) {
                      flg = true;
                      break;
                  }
              }
              if (flg == false) {
                  return false;
              }
          }
          return true;
      }

      // クリックしたカードを最大３枚まで追加する
      function addCard (id) {
          if (main_flag == 1) {
              var oyaNode = document.getElementById('deck_' + cardIdList[id]['D']);
              // まだデッキに１枚も存在していない場合
              if ($('#div_' + id).val() == null) {
                  var element = document.createElement('div');
                  element.id = "div_" + id;
                  // 種類ごとに生成して返す。
                  element.innerHTML = createHtml(id);
                  element.className = "deck_card_sotowaku";
                  element.style.borderLeft = "solid 10px " + getCss(cardIdList[id]['S']);
                  oyaNode.appendChild(element);
                  // デッキにIDを追加
                  deckList.push(id);
              } else {
                  var card_id_num = parseInt($('#card_' + id + '_num').val());
                  // 3枚以下の場合 ※ 制限枚数まではやめた
                  if (card_id_num < 3) {
                      //if (card_id_num < cardIdList[id]['LN']) {
                      $('#card_' + id + '_num').val(card_id_num + 1)
                  }
              }
          } else {
              var oyaNode = document.getElementById('deck_5');
              // サイドデッキにIDを追加
              // まだデッキに１枚も存在していない場合
              if ($('#div_side_' + id).val() == null) {
                  var element = document.createElement('div');
                  element.id = "div_side_" + id;
                  // 種類ごとに生成して返す。
                  element.innerHTML = createHtml(id);
                  element.className = "deck_card_sotowaku";
                  element.style.borderLeft = "solid 10px " + getCss(cardIdList[id]['S']);
                  oyaNode.appendChild(element);
                  // サイドデッキにIDを追加
                  sideDeckList.push(id);
              } else {
                  var card_id_num = parseInt($('#card_side_' + id + '_num').val());
                  // 3枚以下の場合 ※ 制限枚数まではやめた
                  if (card_id_num < 3) {
                      //if (card_id_num < cardIdList[id]['LN']) {
                      $('#card_side_' + id + '_num').val(card_id_num + 1)
                  }
              }
          }
          // 枚数をカウントする
          countDeck(id);
          newOperation(id);
          return false;
      }

      // カードを１枚へらす、０枚になる時は警告を出す
      function deleteCard(id) {
          if (main_flag == 1) {
              // 数を取得
              if ($('#card_' + id + '_num').val() == 1) {
                  if(window.confirm(cardIdList[id]['N'] + 'をデッキから削除します。')){
                      var oOyaNode = $('#deck_' + cardIdList[id]['D']);
                      $('#div_' + id).remove();
                      // デッキからIDを削除
                      for (var i = 0;i < deckList.length;i++) {
                          if (deckList[i] == id) {
                              deckList.splice(i, 1);
                              i--;
                          }
                      }
                      // 枚数をカウントする
                      countDeck();
                  }
              } else {
                  // 1枚へらす
                  $('#card_' + id + '_num').val(parseInt($('#card_' + id + '_num').val()) - 1);
                  // 枚数をカウントする
                  countDeck();
                  newOperation(id);
              }
          } else {
              // 数を取得
              if ($('#card_side_' + id + '_num').val() == 1) {
                  if(window.confirm(cardIdList[id]['N'] + 'をサイドデッキから削除します。')){
                      var oOyaNode = $('#deck_side_' + cardIdList[id]['D']);
                      $('#div_side_' + id).remove();
                      // デッキからIDを削除
                      for (var i = 0;i < sideDeckList.length;i++) {
                          if (sideDeckList[i] == id) {
                              sideDeckList.splice(i, 1);
                              i--;
                          }
                      }
                      // 枚数をカウントする
                      countDeck();
                  }
              } else {
                  // 1枚へらす
                  $('#card_side_' + id + '_num').val(parseInt($('#card_side_' + id + '_num').val()) - 1);
                  // 枚数をカウントする
                  countDeck();
                  newOperation(id);
              }
          }
          return false;
      }

      function addMainCard(id) {
          var tmp_main_flag = main_flag;
          main_flag = 1;
          addCard(id);
          main_flag = tmp_main_flag;
      }

      function deleteMainCard(id) {
          var tmp_main_flag = main_flag;
          main_flag = 1;
          deleteCard(id);
          main_flag = tmp_main_flag;
      }

      function addSideCard(id) {
          var tmp_main_flag = main_flag;
          main_flag = 0;
          addCard(id);
          main_flag = tmp_main_flag;
      }

      function deleteSideCard(id) {
          var tmp_main_flag = main_flag;
          main_flag = 0;
          deleteCard(id);
          main_flag = tmp_main_flag;
      }

      // カードの行を生成する。
      function createHtml(id) {
          var text = "";
          var add_function_name = "addMainCard";
          var delete_function_name = "deleteMainCard";
          var settougo = "card_";
          var settougo_name = "";
          if (main_flag == 0) {
              add_function_name = "addSideCard";
              delete_function_name = "deleteSideCard";
              settougo = "card_side_";
              settougo_name = "side_";
          }
          // モンスター
          if (cardIdList[id]['D'] == 1 || cardIdList[id]['D'] == 4) {
              text = "<div class='div_left' ><input type='text' name=\""+ settougo_name + id +"\" value='1' maxlength='1' size='2px' id='" + settougo + id +"_num' readonly='readonly' />枚　<a href='/c_dtls/index/" + id + "' target='_blank'>" + cardIdList[id]['N'] + '</a><br /></div><div class="div_right"><font class="pc_only">' + attributeList[cardIdList[id]['A']] + '' + ("-" + cardIdList[id]['L']).slice(-2) + '　' + "</font><a href='#' onclick='"+delete_function_name+"(" + id + ");return false;'>" +'▽</a>' + ' ' + "<a href='#' onclick='"+add_function_name+"(" + id + ");return false;'>" +'▲</a><br clear="all"></div>';
          }
          // 魔法・罠
          else {
              text = "<div class='div_left' ><input type='text' name=\""+ settougo_name +id +"\" value='1' maxlength='1' size='2px' id='" + settougo + id +"_num' readonly='readonly'>枚　<a href='/c_dtls/index/" + id + "' target='_blank'>" + cardIdList[id]['N'] + '</a></div><div class="div_right"><font class="pc_only">' + kindList[cardIdList[id]['S']] + '　' + "</font><a href='#' onclick='"+delete_function_name+"(" + id + ");return false;'>" +'▽</a>' + "<a href='#' onclick='"+add_function_name+"(" + id + ");return false;'>" +'▲</a><br clear="all"></div>';
          }
          return text;
      }

      // 最後に更新したものを目立たせる
      function newOperation(id) {
          $('.deck_card_sotowaku').css('background-color', '#ffffff');
          if (main_flag == 1) {
              if ($('#div_' + id) != null) {
                  $('#div_' + id).css('background-color', '#ffcccc');
              }
          } else {
              if ($('#div_side_' + id) != null) {
                  $('#div_side_' + id).css('background-color', '#ffcccc');
              }
          }
          lastUpdateId = id;
      }

      // 枚数をカウントする
      function countDeck() {
          var countList = new Array();
          countList[1] = 0;
          countList[2] = 0;
          countList[3] = 0;
          countList[4] = 0;
          countList[5] = 0;
          // 数える
          for (var i = 0;i < deckList.length;i++) {
              countList[cardIdList[deckList[i]]['D']] = parseInt(countList[cardIdList[deckList[i]]['D']]) + parseInt($('#card_' + deckList[i] + "_num").val());
          }
          for (var i = 0;i < sideDeckList.length;i++) {
              countList[5] = parseInt(countList[5]) + parseInt($('#card_side_' + sideDeckList[i] + "_num").val());
          }
          // 反映する
          $("#deck_num_1").html(countList[1] + "枚");
          $("#deck_num_2").html(countList[2] + "枚");
          $("#deck_num_3").html(countList[3] + "枚");
          $("#deck_num_4").html(countList[4] + "枚");
          $("#deck_num_5").html(countList[5] + "枚");
          deck_num_1 = countList[1];
          deck_num_2 = countList[2];
          deck_num_3 = countList[3];
          deck_num_4 = countList[4];
          deck_num_5 = countList[5];
          var total = parseInt(countList[1]) +  parseInt(countList[2]) +  parseInt(countList[3]);
          for (var i = 1;i <= 4;i++) {
              if (countList[i] == 0) {
                  $("#deck_first_" + i).show();
              } else {
                  $("#deck_first_" + i).hide();
              }
          }
          $("#deck_total").html("デッキ／" + total + "枚　エクストラ／" + countList[4] + "枚");
          $("#deck_total_side").html("サイドデッキ／" + parseInt(countList[5]) + "枚");
      }

      // 色を取得する
      function getCss(kindId){
          if (kindId == 101) {
              return '#FAEBD7';
          }
          else if (kindId == 102) {
              return '#DEB887';
          }
          else if (kindId == 103) {
              return '#cc99ff';
          }
          else if (kindId == 104) {
              return '#a4bdff';
          }
          else if (kindId == 105) {
              return '#FFFFFF';
          }
          else if (kindId == 106) {
              return '#000000';
          }
          else if (kindId == 112) {
              return '#2e8b57';
          }
          else if (kindId == 113) {
              return 'cornflowerblue';
          }
          else if (200 <= kindId && kindId < 300) {
              return '#8FBC8F';
          } else if (300 <= kindId) {
              return '#d0afee';
          } else {
              return '';
          }
      }

      // 書き出しDO
      function writeDeckDo() {
          var text = "デッキをデュエルオンライン的に書き出し↓↓<br /><br />";
          var mo = "モンスター(" + deck_num_1 + ")枚<br />";
          var ma = "<br />魔法(" + deck_num_2 + ")枚<br />";
          var tr = "<br />罠(" + deck_num_3 + ")枚<br />";
          var ex = "<br />エクストラ<br />";
          var si = "<br />サイドデッキ<br />";
          // デッキリストから順に書き出す。
          for (var i = 0;i < deckList.length;i++) {
              var num = "";
              // 1でない
              if (parseInt($('#card_' + deckList[i] + "_num").val()) > 1) {
                  num = '×' + $('#card_' + deckList[i] + "_num").val() + '枚';
              }
              if (cardIdList[deckList[i]]['D'] == 1) {
                  mo = mo + cardIdList[deckList[i]]['N'] + num +'<br />';
              } else if(cardIdList[deckList[i]]['D'] == 2) {
                  ma = ma + cardIdList[deckList[i]]['N'] + num +'<br />';
              } else if(cardIdList[deckList[i]]['D'] == 3) {
                  tr = tr + cardIdList[deckList[i]]['N'] + num +'<br />';
              } else if(cardIdList[deckList[i]]['D'] == 4) {
                  ex = ex + cardIdList[deckList[i]]['N'] + num +'<br />';
              } else {
                  si = si + cardIdList[deckList[i]]['N'] + num +'<br />';
              }
          }
          text = text + mo + ma + tr + ex;
          $('#card_list').html("<p class='mieru'>" + text + "</p>");
      }

      // 書き出しwiki
      function writeDeck() {
          var text = "デッキをWiki的に書き出し↓↓<br /><br />";
          var mo = "■モンスター(" + deck_num_1 + ")枚<br />";
          var ma = "<br />■魔法(" + deck_num_2 + ")枚<br />";
          var tr = "<br />■罠(" + deck_num_3 + ")枚<br />";
          var ex = "<br />■エクストラ(" + deck_num_4 + ")枚<br />";
          var si = "<br />■サイドデッキ(" + deck_num_5 + ")枚<br />";
          // デッキリストから順に書き出す。
          for (var i = 0;i < deckList.length;i++) {
              if (cardIdList[deckList[i]]['D'] == 1) {
                  mo = mo + parseInt($('#card_' + deckList[i] + "_num").val()) + '枚 《' +  cardIdList[deckList[i]]['N'] + '》<br />';
              } else if(cardIdList[deckList[i]]['D'] == 2) {
                  ma = ma + parseInt($('#card_' + deckList[i] + "_num").val()) + '枚 《' +  cardIdList[deckList[i]]['N'] + '》<br />';
              } else if(cardIdList[deckList[i]]['D'] == 3) {
                  tr = tr + parseInt($('#card_' + deckList[i] + "_num").val()) + '枚 《' +  cardIdList[deckList[i]]['N'] + '》<br />';
              } else if(cardIdList[deckList[i]]['D'] == 4) {
                  ex = ex + parseInt($('#card_' + deckList[i] + "_num").val()) + '枚 《' +  cardIdList[deckList[i]]['N'] + '》<br />';
              } else {
                  si = si + parseInt($('#card_' + deckList[i] + "_num").val()) + '枚 《' +  cardIdList[deckList[i]]['N'] + '》<br />';
              }
          }
          text = text + mo + ma + tr + ex + si;
          $('#card_list').html("<p class='mieru'>" + text + "</p>");
      }

      // 書き出しCGI
      function writeDeckCgi() {
          var text = "デッキをCGI的に書き出し↓↓<br /><br />";
          // デッキリストから順に書き出す。
          for (var i = 0;i < deckList.length;i++) {
              var value = $('#card_' + deckList[i] + "_num").val();
              for (var p = 0;p < value;p++) {
                  text = text + cardIdList[deckList[i]]['N'] + '<br />';
              }
          }
          $('#card_list').html("<p class='mieru'>" + text + "</p>");
      }

      // 書き出し5DB's
      function writeDeck5DB() {
          var text = "このサイトへのリンク付き書き出し↓↓<br />ブログとかにコピペしてね！<br /><br />";
          var mo = "■モンスター(" + deck_num_1 + ")枚<br />";
          var ma = "<br />■魔法(" + deck_num_2 + ")枚<br />";
          var tr = "<br />■罠(" + deck_num_3 + ")枚<br />";
          var ex = "<br />■エクストラ(" + deck_num_4 + ")枚<br />";
          var si = "<br />■サイドデッキ(" + deck_num_5 + ")枚<br />";
          // デッキリストから順に書き出す。
          for (var i = 0;i < deckList.length;i++) {
              if (cardIdList[deckList[i]]['D'] == 1) {
                  mo = mo + parseInt($('#card_' + deckList[i] + "_num").val()) + '枚 <a href=\'https://yugioh-list.com/c_dtls/index/' + deckList[i] +'\'>' +  cardIdList[deckList[i]]['N'] + '</a><br />';
              } else if(cardIdList[deckList[i]]['D'] == 2) {
                  ma = ma + parseInt($('#card_' + deckList[i] + "_num").val()) + '枚 <a href=\'https://yugioh-list.com/c_dtls/index/' + deckList[i] +'\'>' +  cardIdList[deckList[i]]['N'] + '</a><br />';
              } else if(cardIdList[deckList[i]]['D'] == 3) {
                  tr = tr + parseInt($('#card_' + deckList[i] + "_num").val()) + '枚 <a href=\'https://yugioh-list.com/c_dtls/index/' + deckList[i] +'\'>' +  cardIdList[deckList[i]]['N'] + '</a><br />';
              } else if(cardIdList[deckList[i]]['D'] == 4) {
                  ex = ex + parseInt($('#card_' + deckList[i] + "_num").val()) + '枚 <a href=\'https://yugioh-list.com/c_dtls/index/' + deckList[i] +'\'>' +  cardIdList[deckList[i]]['N'] + '</a><br />';
              } else {
                  si = si + parseInt($('#card_' + deckList[i] + "_num").val()) + '枚 <a href=\'https://yugioh-list.com/c_dtls/index/' + deckList[i] +'\'>' +  cardIdList[deckList[i]]['N'] + '</a><br />';
              }
          }
          text = text + '<textarea rows="30" cols="30">' + mo + ma + tr + ex + si + '</textarea>';
          $('#card_list').html(text);
      }

      // チェックして送信
      function checkSubmit() {
          if (true) {
              alert("デッキ登録を行いたい場合はユーザ登録を行い、ログインして下さい。");
          }
          // デッキ枚数エラー
          else if (!((deck_num_1 + deck_num_2 + deck_num_3) >= 40 && (deck_num_1 + deck_num_2 + deck_num_3) <= 60)) {
              alert('デッキは40枚以上、60枚以下にしてください。');
          } else if (deck_num_4 > 15) {
              alert('エクストラデッキは15枚以下にしてください。');
          } else {
              document.fm.submit();
          }
      }
      // -->
  </script>
  </form>
  <br class="clear">
  <script src="../js/base.js?a=1"  type="text/javascript"></script>
  <script type="text/javascript">baseStart();</script>
</div>
</body>